<!doctype html>
<html lang="ja-jp">
<head>
<meta charset="utf-8" />
<title>(*filename*)</title>
<style>
table {
  width:100%;
  border:solid thin gray;
}

th {
  border:solid thin gray;
  background-color:gainsboro;
}

td {
  border:solid thin gray;
  vertical-align:top;
}

header, article, fooder {
  margin-left:5%;
  margin-right:5%;
}

pre {
  padding: 5px;
  border: dotted thin gray;
  margin-left:3%;
  margin-right:3%;
  font-size: 11pt;
}

a:link, a:visited {
  text-decoration: none;
  color: royalblue;
}
</style>
<!-- highlight.js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/vs.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>

<body style="margin-left:5%;margin-right:5%">
<h1 style="text-align:center;color:mediumvioletred;padding:10px;">(*filename*)</h1>
<p style="text-align:center;"><a href="/cgi/index.html">INDEX</a>&nbsp;/&nbsp;<a href="/">HOME</a></p>

<p style="padding:7px;margin-left:5%;color:magenta;">(*message*)</p>
<pre><code>(*source*)</code></pre>

<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
