<!doctype html>
<html lang="ja-jp">
<head>
<meta charset="utf-8" />
<title>WebPage テスト用 (File Upload)</title>
<link rel="stylesheet" href="/css/default.css" />
<style>
input[type="submit"] {
  background-color:lime;
  height:32px;
  border-radius:5px;
}
input[type="file"] {
  background-color:aqua;
  height:32px;
  border-radius:5px;
}
</style>
</head>

<body style="margin-left:5%;margin-right:5%">
<h1>WebPage テスト (File Upload)</h1>
<p style="text-align:center;"><a href="/">HOME</a></p>
<br />
<form method="POST" enctype="multipart/form-data" style="margin-left:20%;">
<div style="float:left">
<label for="file1">file1</label> <input type="file" name="file1" id="file1" />
</div>
<div><input type="submit" value="submit" />
</form>
<br style="clear:both;" />
<p style="text-align:center;color:gray;">
(*message*)
</p>
<p>&nbsp;</p>
</body>
</html>
