<!doctype html>
<html lang="ja-jp">
<head>
<meta charset="utf-8" />
<title>WebPage テスト用 9</title>
<style>
 a:link, a:visited {
  text-decoration:none;
  color:dodgerblue;
 }
 input[type="button"] {
   background-color:lime;
   height:32px;
   border-radius:5px;
 }
 input[type="text"] {
   height:30px;
   border-radius:5px;
 }
 .msg {
   text-align:center;
   color:magenta;
   padding:10px;
 }
</style>
</head>

<body style="margin-left:5%;margin-right:5%">
<h1 style="text-align:center;color:deeppink;padding:10px;">WebPage テスト echo()</h1>
<p style="text-align:center;"><a href="/cgi">HOME</a></p>
<br />
<div class="msg"><img src="testWebPage9.cgi?file=(*file*)" /></div>
<p class="msg">(*message*)</p>
<p>&nbsp;</p>
</body>
</html>
