<!doctype html>
<html lang="ja-JP">
<head>
<meta charset="utf-8" />
<title>H4.html</title>
<link rel="stylesheet" href="/styles/default.css" />
<script src="/scripts/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#btnReload').click(function() {
            location.reload();
        });
    });
</script>
<style>
.fr {
  margin-left:10%;
  padding: 7px;
  font-size:larger;
  color:magenta;
}
</style>
</head>

<body>
<h1>クッキー (H4.py)</h1>
<p>&nbsp;</p>
<p class="fr">COUNT=(*count*)</p>
<p><input type="button" value=" Reload " id="btnReload" /></p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
