<!doctype html>
<html lang="ja-JP">
<head>
<meta charset="utf-8" />
<title>index5.html</title>
<link rel="stylesheet" href="/styles/default.css" />
<script src="/scripts/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('button').click(function() {
            data = {"fahren": $('input[name="fahren"]').val()}
            $.getJSON('/Fahren', data, function(json) {
                $('#result').text("摂氏 " + json['result'] + "度");
            });
        });
    });
</script>
<style>
.fr {
  text-align:center;
  padding: 7px;
  font-size:larger;
  color:magenta;
}
.d1 {
  margin-bottom:10px;
  padding:4px;
}
button {
  background-color: yellowgreen;
  width:120px;
  height:32px;
  border-radius:5px;
}
</style>
</head>

<body>
<h1>Ajax 華氏温度計算</h1>
<p>&nbsp;</p>
<div class="d1">
<p style="text-align:center;">華氏温度を摂氏に変換します。<p>
<form style="margin-left:25%;">
 <div class="d1"><label>華氏温度　<input type="text" name="fahren" style="width:100px;height:32px;border-radius:5px;" value="32.0" /></label>&nbsp;
 <button type="button">変換</button></div>
</form>
<br >
<p id="result" class="fr"></p>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
