<!doctype html>
<html lang="ja-JP">
<head>
<meta charset="utf-8" />
<title>index6.html</title>
<link rel="stylesheet" href="/styles/default.css" />
<script src="/scripts/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#btnReload').click(function() {
            location.reload();
        });
    });
</script>
<style>
.fr {
  margin-left:10%;
  padding: 7px;
  font-size:larger;
  color:magenta;
}
</style>
</head>

<body>
<h1>POST (test_HTApp6.py)</h1>
<p>&nbsp;</p>
<form method="POST" action="/Post">
 <div style="margin-left:25%;"><label>text1　<input type="text" name="text1" size="40" /></label></div>
 <div style="margin-left:35%;margin-top:25px;"><label><button type="submit"> POST </label></div>
</form>
<br >
<p class="fr">(*message*)</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
